In [34]:
## Importing the libraries

In [35]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline

In [36]:
## Reading the file

In [37]:
import pandas as pd
df = pd.read_csv('spam.csv')

In [38]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [39]:
df.columns

Index(['Category', 'Message'], dtype='object')

In [40]:
df.dtypes

Category    object
Message     object
dtype: object

In [41]:
df[df.isna()].sum()

Category    0
Message     0
dtype: object

In [42]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4827   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [43]:
### creating a column spam

In [44]:
df['spam']=df['Category'].apply(lambda x : 1 if x == 'spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [45]:
df.dtypes

Category    object
Message     object
spam         int64
dtype: object

In [46]:
## Splittin the data into train and test

In [47]:
X_train,X_test,Y_train,Y_test = train_test_split(df.Message,df.spam,test_size=0.25)

In [48]:
### Using Sklearn CountVectorizer to count the occurence of each unique word

In [49]:
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [50]:
## Bernuallis classification- treated as 1 and 0 i.e. occurences of word 
## multinomial i.e. count of the each word
## gaussian i.e. data  is continuouts under each feature value is different

In [51]:
### creat ign the Mulitnomial Model and trainng it

In [52]:
model = MultinomialNB() 
model.fit(X_train_count,Y_train)

MultinomialNB()

In [53]:
### Testing the model on custom input

In [54]:
emails = ['PFA the timetable for tomorrows test',
        'Hi customer you just won the million dollar through our randomly selected database please give us ur credentials to follow through'
         ]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [55]:
### find the accuracy of the model

In [56]:
x_test_count= v.transform(X_test)
model.score(x_test_count,Y_test)

0.9842180774748924

In [57]:
## Using Pipeline from sklearn Library

In [58]:
clf = Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [59]:
## Training the model

In [60]:
clf.fit(X_train,Y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [61]:
clf.score(X_test,Y_test)

0.9842180774748924

In [62]:
clf.predict(emails)

array([0, 1], dtype=int64)